@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif
}
div{
background-color: blueviolet;
color: brown;
background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.avatar{
    background-color: aquamarine;
    width:280px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 200px;
    background: #682f99;
background: linear-gradient(90deg, rgba(104, 47, 153, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
p{
    background-color: black;
}